body {
    background-color: pink;
}

h1 {
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.para {
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.button_home {
  display: inline-block;
  background-color: #f7cdcd;  
  padding: 8px 16px;
  border-radius: 5px;
  color: rgb(110, 110, 110);                   
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.button_contain {
    display: flex;
    justify-content: center;
}
