img {
    height: 35%;;
    width: 35%;
    max-width: 200px;
    max-height: 200px;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;

}
.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
