<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Random pictures of food</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <h1>Random pictures of food</h1>
        <div>
            
            <div class="elements">
                {% for i in cat %}
                <div class="yes">
                    <div class="table">
                        <div class="cell">   
                            <a href="http://127.0.0.1:5000/{{i}}">Here is a random picture of {{i}}</a>
                        </div>
                    </div>
            
                    <div>
                        <img class='hi' src={{picture[loop.index0]}}> 
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>