<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Random pictures of food</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <h1>Random pictures of food</h1>
        <div class="page">
            
            <div class="elements">
                {% for i in cat %}
                    <div class="card">
                        <div class="cell">
                            <img class='hi' src={{picture[loop.index0]}}>
                            <h2>
                                {{ i | capitalize}}
                            </h2>
                                <a href="{{ url_for('spec_cata', catagories=i) }}" class="link_bubble">More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ url_for('index') }}" class="refresh_bubble">Refresh</a>
        </div>
    </body>
</html>