<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Random pictures of food</title>
        <link rel="stylesheet" href="../static/spec.css">
    </head>
    <body>
        <div class="page">
            <h1>Random pictures of {{ food_type | capitalize}}</h1>
            <div class="pic_container">
                <img src="{{spec_pict}}" class="pic">                
            </div>
            <div class="buttons">
            <a href="{{ url_for('index') }}" class="button_home">Back home</a>
            <a href="{{ url_for('spec_cata', catagories=food_type) }}" class="button_refresh">Refresh</a>
            </div>
        </div>
    </body>
</html>