<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Random pictures of food</title>
        <link rel="stylesheet" href="../static/spec.css">
    </head>
    <body>
        <div>
            <h1>Random pictures of {{food_type}}</h1>
            <a href="http://127.0.0.1:5000/">Here is a link back home</a>
            <div>
                <img src="{{spec_pict}}" class="boo">                
            </div>
        </div>
    </body>
</html>